[defaults]
remote_user = devops
inventory = inventory
#callbacks_enabled = ansible.posix.profile_roles,ansible.posix.profile_tasks
#collections_path = ./collections
forks=3

[privilege_escalation]
become = false
become_user = root
become_method =  sudo
become_ask_pass = false



#[galaxy]
#server_list = rhCertifiedRepo, publicGalaxy

#[galaxy_server.rhCertifiedRepo]
#url=https://hub.lab.example.com/api/galaxy/content/rh-certified/
#token=828f63cce6e8cea9e67eb49c5066ab7011cefb55

#[galaxy_server.publicGalaxy]
#url=https://galaxy.ansible.com
